body {
    min-height: 101vh;
    padding-top: 5rem;
}

.randraw-canvas {
    border: 2px solid aliceblue;
    width: 35%;
    margin-left: 10%;
}

.underrow {
    margin-top: 25px;
}

.underbutton.neighbor {
    margin-left: 10px;
}

.inp-ctx {
    font-size: 12px;
}

@media (min-width: 768px) {

    .codeblock {
        padding-left: 1rem;
    }
}

#footer {
    margin-top: 5rem;
}

.codeblock {
    border: 1px solid lightgrey;
    background: #eeeeee;
    padding: 2px 10px 5px;
    border-radius: 4px;
    width: fit-content;
    margin-bottom: 15px;
}

code {
    background: #eeeeee;
    padding: 2px 2px 2px;
    border-radius: 3px;
}

#shapes {
    background-color: #eef6ff;
    border: 1px solid #e7f1ff;
    border-radius: 5px;
    padding-top: 15px;
    max-width: 300px;
}

#shapes > h6 {
    margin-left: 15px;
}

/****************************
 * SMALL SCREENS *
 ****************************/

@media (max-width: 767.99px) {

    .no-padding-mobile {
        padding: 0;
    }
}

/**************
 * Tooltip Overwrites *
 **************/
.tooltip {
    z-index: 1029!important;
}
